img
{
width: 300px;
margin-left: 20px;
}

body {
  background-color: #EBF8FF;
   text-align: left;
   font-size: 20px;
   font-family: 'Tahoma', sans-serif;
   overflow: hidden; /* Hide scrollbars */
}

h1 {
margin-top: 0px;
margin-bottom: 0px;
}

input[type=text] {
 border: none;
 text-align: left;
 font-size: 20px;
 border-radius: 4px;
 margin-left: 5px;
 margin-right: 5px;
 margin-bottom: 10px;
 width: 300px;
}

input[type=radio] {
  border: none;
  size: 30px;
  text-align: left;
  font-size: 30px;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 0.75em;
  height: 0.75em;
  border: 0.1em solid currentColor;
  border-radius: 10%;
 }

 input[type=checkbox] {
  border: none;
  size: 30px;
  text-align: left;
  font-size: 30px;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 0.75em;
  height: 0.75em;
  border: 0.1em solid currentColor;
  border-radius: 10%;
 }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #9D6D7A;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav2 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F1807C;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidenav2 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #7A525C;
}

.sidenav2 a:hover {
  color: #EE5E59;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav2 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .sidenav2 {padding-top: 15px;}
}

.top::after {
margin-top: 0px;
margin-bottom: 0px;
padding: 0px;
/*background-color: blue ;  */
content: "";
clear: both;
display: table;

  
  
}

.top_center{
  align-items: center;
  text-align: center;
}

.tops{
  align-items: left;
  float: left;
  width: 400px;
}

.kreisa {
  height: 300px;
  width: 350px;
  position: fixed;
 
  overflow-x: hidden;
}

.vidus{
  height: 300px;
  width: 100%;
  
  padding-top: 10px;
  padding-left: 350px;
  
}


p{
  margin-top: 10px;   
  margin-bottom: 10px;
  font-size: large;
}

.button {
  width:300px;
  height: 50px;
  background-color: ffcc00;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 15px;
  margin-left: 350px;
}

.button:hover {
  background-color: red;
  color: white;
}

.button:active {
  background-color: yellow;
 }
 
.josla {

	height:9px;
	background-color:orange;
	margin-top:50px;
	margin-left:1px;
	border-width: 1px;
	border-radius: 6px;
	border-style: solid;
	border-color: orange;
} 
 .josla2 {
	
	height:9px;
	border-style: solid;
	border-color: orange;
	border-width: 1px;
	margin-top:-11px;
	border-radius: 6px;
} 

span.c {
  display:block;
  width: 300px;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  
}

form {
display: flex;
justify-content: center;
flex-direction: column;
padding-left: 40px;
padding-top: 0px;
font-size:large;

}

form button{
  width: 400px;
  margin: 10px;
  font-size: x-large;
  padding-top: 5px;
  padding-bottom: 10px;
  border:none;
  display: inline-block;
  cursor: pointer;
  background-color: #EBF8FF;
}

form button:hover{
  width: 400px;
  margin: 10px;
  font-size: x-large;
  padding-top: 10px;
  padding-bottom: 10px;
  border:none;
  display: inline-block;
  cursor: pointer;
  background-color: #60B05B;
  color: #EBF8FF;
}